<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h3>Engineering Department Page</h3>
        @RenderBody()
        <
    </div>
    <footer>&copy; Engineering Dept</footer>
</body>
</html>
